/* You can add global styles to this file, and also import other style files */
@import 'leaflet/dist/leaflet.css';

html,
body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	height: 100%;
}
